/*!
global > color
------------------------------
*/
:root {
  --color-bg-white: #ffffff;
  --color-font-base: #414f5d;
  --color-font-light: #919ca7;
  --color-font-white: #ffffff;
  --color-bg-base: #f5f8f9;
  --color-bg-entry: #e0ebee;
  --color-border-base: #414f5d;
  --color-border-base-white: #f5f8f9;
  --color-border-blue: #19bbf0;
  --color-hover-blue: #4bd2d7;
  --color-hover-green: #dff6f0;
}
