@use "../global" as g;

/*!
layout > header
------------------------------
*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20rem;
  width: 100%;
  height: 64rem;
  background: linear-gradient(
    0deg,
    rgba(39, 56, 78, 0) 0%,
    rgba(39, 56, 78, 0.3) 100%
  );
  position: fixed;
  z-index: var(--z-index-header);

  @include g.mq() {
    padding-left: 70rem;
    height: 106rem;
  }
}

.header-logo a {
  width: 100%;
}

.header-logo-img {
  display: block;
  width: 154rem;
  height: 36rem;

  @include g.mq() {
    width: 300rem;
    height: 46rem;
  }
}

.header-nav-inner {
  display: flex;
  @include g.mq() {
    flex-direction: row-reverse;
  }
}

.header-open-button {
  display: flex;
  align-items: center;
  padding-top: 16rem;
  gap: 24rem;
  flex-direction: column;
  width: 64rem;
  height: 64rem;
  background-color: var(--color-bg-white);

  @include g.mq() {
    display: none; // PCでは非表示
  }
}

.hamburger-line {
  display: block;
  position: relative;
  width: 20rem;
  height: 1rem;
  background-color: var(--color-font-base);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
  }

  &::before {
    top: 7rem; // 真ん中の線
  }

  &::after {
    top: 14rem; // 下の線
  }
}

.hamburger-text {
  font-family: var(--font-family-en);
  font-size: 12rem;
  line-height: 1;
  letter-spacing: 0.05em;
  padding-left: 0.05em;
  text-transform: uppercase;
}

.header-entry-button {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
  padding-top: 22rem;
  width: 64rem;
  font-family: var(--font-family-en);
  font-size: 14rem;
  line-height: 1;
  letter-spacing: 0.05em;
  padding-left: 0.05em;
  color: var(--color-bg-white);
  text-transform: uppercase;
  background-image: linear-gradient(
    174.99deg,
    #75c2eb 0%,
    #43cfcf 50%,
    #4bd2d7 100%
  );
  background-color: #75c2eb; // フォールバック用（グラデーションの開始色）_hover時の瞬間色抜け防止
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

  @include g.mq() {
    width: 181rem;
    height: 106rem;
    margin-left: 64rem;
    padding-top: 38rem;
    padding-left: 24rem;
    align-items: flex-start;
    font-size: 20rem;
    letter-spacing: 0.04em;
    position: relative;
  }
}

.header-entry-button span {
  display: block;
  font-family: var(--font-family-base);
  font-size: 10rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;

  @include g.mq() {
    font-size: 12rem;
    letter-spacing: 0.025em;
  }
}

.header-entry-button:hover {
  color: var(--color-hover-blue);
  background-image: none;
  background-color: rgba(255, 255, 255);

  &::after {
    background-color: var(--color-hover-blue);
  }
}

.header-entry-button::after {
  @include g.mq() {
    content: "";
    display: block;
    width: 24rem;
    height: 24rem;
    background-color: var(--color-bg-white);
    -webkit-mask: url("../img/icon-entry-arrow.svg") no-repeat center / contain;
    mask: url("../img/icon-entry-arrow.svg") no-repeat center / contain;
    position: absolute;
    right: 24rem;
    top: 50%;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
}

/*!
dialogタグ内の設定
------------------------------
*/
.header-menu {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  position: fixed; // 画面全体を覆う
  background: linear-gradient(174.99deg, #75c2eb 0%, #43cfcf 50%, #4bd2d7 100%);
  padding-left: 20rem;
  opacity: 0; // バーガーメニュー初期設定
  visibility: hidden; // バーガーメニュー初期設定

  &::backdrop {
    display: none;
  }
  @include g.mq() {
    display: flex; // PCでは表示
    align-items: center;
    position: static;
    width: auto;
    height: auto;
    padding-left: 0;
    opacity: 1 !important; //sp→pc幅にした際のナビ表示
    visibility: visible !important; //sp→pc幅にした際のナビ表示
    background: transparent;
  }
}

.header-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64rem;
  background-color: transparent;

  @include g.mq() {
    display: none;
  }
}

.header-menu-logo img {
  display: block;
  width: 157rem;
  height: 36rem;

  @include g.mq() {
    display: none; // PCでは非表示
  }
}

.header-close-button {
  display: grid;
  font-size: 12rem;
  font-family: var(--font-family-en);
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  width: 64rem;
  height: 100%;
  padding-top: 41rem;
  background-color: var(--color-bg-white);
  position: relative;

  @include g.mq() {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    width: 23.6rem;
    height: 1rem;
    background-color: var(--color-font-base);
    position: absolute;
    top: 24rem;
    left: 21rem;
  }

  &::before {
    transform: rotate(-36deg);
  }

  &::after {
    transform: rotate(36deg);
  }
}

.header-nav {
  margin-top: 32rem;

  @include g.mq() {
    margin-top: 0;
  }
}

.header-nav-list {
  display: grid;
  gap: 24rem;
  @include g.mq() {
    display: flex;
    gap: 32rem;
    justify-content: center;
  }
}

.header-nav-item {
  font-size: 14rem;
  letter-spacing: 0.05em;
  color: var(--color-font-white);

  @include g.mq() {
    display: flex;
    font-size: 16rem;
    font-weight: 500;
  }
}

.header-nav-item a {
  display: inline-block;
  height: 100%;
  position: relative;

  &::before {
    content: "";
    background: var(--color-font-white);
    width: 100%;
    height: 1rem;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: left top;
    transform: scale(0, 1);
    transition: transform 0.2s ease-in-out;
  }

  &:hover::before {
    transform: scale(1, 1);
    transform-origin: left top;
  }
}

.header-nav-subtitle {
  display: inline-block;
  font-size: 24rem;
  font-family: var(--font-family-en);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  padding-right: 8rem;

  @include g.mq() {
    display: none;
  }
}
.header-menu-entry-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17rem 32rem 13rem;
  margin: 40rem 20rem 40rem 0;
  border-radius: 50vh;
  border: 1rem solid var(--color-border-base-white);
  color: var(--color-font-white);
  background-color: rgba(255, 255, 255, 0.2);
  transition: 0.2s ease-in-out;
  position: relative;

  &::after {
    content: "";
    width: 10rem;
    height: 19rem;
    background-color: #fff;
    -webkit-mask: url("../img/icon-arrow-black.svg") no-repeat center / contain;
    mask: url("../img/icon-arrow-black.svg") no-repeat center / contain;
    position: absolute;
    right: 32rem;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color 0.2s ease-in-out;
  }

  &:hover {
    color: var(--color-hover-blue);
    background-color: rgba(255, 255, 255, 0.8);

    &::after {
      background-color: #4bd2d7;
    }
  }

  @include g.mq() {
    display: none;
  }
}

.header-menu-entry-text {
  display: flex;
  gap: 8rem;
  align-items: baseline;
  font-family: var(--font-family-en);
  font-size: 24rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: normal;

  & span {
    display: inline-block;
    font-size: 14rem;
    font-family: var(--font-family-base);
    letter-spacing: 0.05em;
  }
}
