@use "../global" as g;

/*!
component > button
------------------------------
*/
// news-moreボタンのスタイル
.c-button-news-more {
  display: flex;
  gap: 16rem;
  align-items: baseline;
  justify-content: center;
  font-size: 14rem;
  font-weight: 600;
  font-family: var(--font-family-en);
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15rem 23rem 13rem;
  border-radius: 50vh;
  position: relative;

  @include g.mq() {
    width: 100rem;
    height: 100rem;
    gap: 10rem;
    padding: 0;
    border-radius: 50%;
    align-items: center;
  }

  &::after {
    content: "";
    display: inline-block;
    width: 5.6rem;
    height: 10.5rem;
    background-image: url("../img/icon-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: baseline;
    transition: 0.2s ease-in-out;
  }

  &:hover {
    &::after {
      transform: translateX(3rem);
    }
  }
}

.c-button-news-more--white {
  background-color: var(--color-bg-base);
  border: 1.5rem solid var(--color-border-base);
}

// greetingボタンのスタイル
.c-button-greeting {
  display: flex;
  gap: 16rem;
  align-items: center;
  justify-content: center;
  font-size: 14rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 13rem 23rem;
  border-radius: 50vh;
  position: relative;

  @include g.mq() {
    gap: 32rem;
    font-size: 16rem;
    padding: 17rem 31rem;
  }

  &::after {
    content: "";
    display: block;
    width: 6rem;
    height: 11rem;
    background-image: url("../img/icon-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    &::after {
      transform: translateX(3rem);
    }
  }
}

.c-button-greeting--white {
  background-color: var(--color-bg-base);
  border: 1rem solid var(--color-border-base);
}

// interviewボタンのスタイル
.c-button-interview {
  display: flex;
  gap: 32rem;
  align-items: center;
  justify-content: center;
  font-size: 14rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 18rem 32rem;
  border-radius: 50vh;

  @include g.mq() {
    font-size: 16rem;
  }

  &::after {
    content: "";
    display: block;
    width: 6rem;
    height: 11rem;
    background-image: url("../img/icon-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s ease-in-out;
  }
  &:hover {
    &::after {
      transform: translateX(3rem);
    }
  }
}

// グラデーションのバリエーションクラス
.c-button-interview--lightblue {
  background: linear-gradient(134.57deg, #e4eff9 0%, #e3f3f3 50%, #b6def0 100%);
}

.c-button-interview--lightgreen {
  background: linear-gradient(134.57deg, #e4f9f8 0%, #e3f3e9 50%, #c8f1c2 100%);
}

// entryボタンのスタイル
.c-button-entry {
  display: inline-flex;
  gap: 80rem;
  align-items: center;
  font-size: 24rem;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(174.99deg, #75c2eb 0%, #43cfcf 50%, #4bd2d7 100%);
  padding: 18rem 32rem 14rem;
  border-radius: 50vh;
  color: var(--color-font-white);
  transition: 0.2s ease-in-out;

  &::after {
    content: "";
    display: block;
    width: 10rem;
    height: 19rem;
    background-color: var(--color-bg-white);
    mask-image: url("../img/icon-arrow-black.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    transition: background-color 0.2s ease-in-out;
  }

  &:hover {
    color: #4bd2d7;
    background: rgba(255, 255, 255, 0.6);
    &::after {
      background-color: #4bd2d7;
    }
  }
}

.c-button-entry-text {
  display: flex;
  gap: 8rem;
  align-items: baseline;
  font-family: var(--font-family-en);
  font-weight: normal;
}

.c-button-entry-text span {
  display: inline-block;
  font-size: 14rem;
  font-family: var(--font-family-base);
  letter-spacing: 0.05em;
}
