@use "../global" as g;

/*!
component > title
------------------------------
*/

.c-title-container {
  display: flex;
  gap: 12rem;
  align-items: center;
  text-transform: uppercase;
}

.c-title {
  font-size: 14rem;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.05em;
  font-family: var(--font-family-base);
  color: var(--color-font-light);
}

.c-title-en {
  font-size: 32rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: var(--font-family-en);
  color: var(--color-font-base);

  @include g.mq() {
    font-size: 42rem;
  }
}
